# Ambiente
.env
__pycache__/
*.pyc

# Logs
logs/
*.log

# Arquivos gerados
dados/streaming_saida.txt
dados/output.xlsx
dados/output_example.xlsx
dados/streaming_example.txt

# Arquivos temporários
*.tmp
*.bak
